.home{
  background: url(../../images/background1.png),url(https://images.unsplash.com/photo-1554050857-c84a8abdb5e2?ixlib=rb-1.2.1&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: 70%,30%;
  background-position: center left,center right;
  min-height: 90vh;
}
@media only screen and (max-width: 600px) {
  .home{
    background: url(../../images/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top top;
    min-height: 90vh;
  }
}

